<h1 class="title">Exclusão de Atividades</h1>
<form action="/apagar" method="post">
    <label for="id">Digite o Código da Atividade</label>
    <br>
    <input type="text" name="id" placeholder="id">
    <br><br>
    <button type="submit" class="btn">Apagar</button>
</form>
<p>{{msgA}}</p>
<p>{{msgB}}</p>