<h1 class="title">Atualização de Atividades</h1>
<form action="/atualizar" method="post">
    <label for="id">Digite o Código da Atividade</label>
    <br>
    <input type="number" name="id" placeholder="id">
    <br>
    <label for="atv">Digite o novo nome da Atividade</label>
    <br>
    <input type="text" name="atv" placeholder="Entregar produtos">
    <br><br>
    <button type="submit" class="btn">Atualziar</button>
</form>
<p>{{msgA}}</p>
<p>{{msgB}}</p>
<p>{{msgC}}</p>