<h1 class="title">Cadastro de Atividades</h1>
<form action="/cadastrar" method="post">
    <label for="nome">Digite a Atividade</label>
    <br>
    <input type="text" name="nome" placeholder="Nome">
    <br><br>
    <button type="submit" class="btn">Cadastrar</button>
</form>
<p>{{msgA}}</p>
